* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(30, 38%, 92%);
}

.card {
    display: flex;
    width: 600px;
    border-radius:10px;
    background-color: #fff;
}

.img {
    flex-basis: 50%;
}

.img img {
    width: 300px;
    border-radius: 10px  0 0 10px;
}

.img .mob {
    display: none;
}

.text {
    flex-basis: 50%;
    height:450px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.top {
    letter-spacing: 5px;
    color: hsl(228, 12%, 48%);
}

h1 {
    font-family: 'Fraunces', serif;
    color:  hsl(212, 21%, 14%);
}

p {
    color: hsl(228, 12%, 48%);
    line-height: 1.8;
}

.discount {
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    font-size: 30px;
    font-weight: bold;
    margin-right: 20px;
}
s {
    color: hsl(228, 12%, 48%);
}

button {
    outline: none;
    border: none;
    background-color: hsl(158, 36%, 37%);
    padding: 12px 0;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

button img {
    margin-right: 10px;
}


@media (max-width:767px) {
    .card {
        flex-direction: column;
        width: 90%;
        height: 90%;
    }
    .img {
        flex-basis: 30%;
    }
    .img img {
        border-radius: 10px 10px 0 0;
    }
    .img .desk {
        display: none;
    }
    .img .mob {
        display: block;
        width: 100%;
    }

    .text {
        flex-basis: 70%;
    }
}